.login-form-forgot {
    float: right;
    color: rgb(24,144,255);
    cursor: pointer;
  }
.login-form-button {
    width: 100%;
}
.forgetCom_resetButton{
  width: 100%;
}
.popForgetCom{
  margin-top: 20px;
}