
.article_page_title{
    text-align: center;
}
.article_page_author_name{
    font-weight: bold;
}
.article_author_avatar{
    border:1px solid rgb(220, 220, 220);
}

.author-url-link{
    text-decoration:none;
    color: black;
}
.author-url-link:hover{
    text-decoration:none;
    color: black;
}
.author-url-link:active{
    text-decoration:none;
    color: black;
}
.author-url-link:link{
    text-decoration:none;
    color: black;
}